{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{{ article.title }}</h1>
  <p>
    글쓴이 :
    <a href="{% url 'accounts:detail' article.user.id %}">
      {{ article.user.username }}
    </a>
  </p>
  {% if request.user.pk == article.user.pk %}
    <a href="{% url 'articles:update' article.pk%}"> 글 수정</a>
  {% endif %}
  <hr>
  <div class="box">
    <p class='fw-semibold'>
      {{ article.content}}
    </p>
    {% if article.image %}
      <div class="text-center">
        <img src="{{ article.image.url }}" alt="{{ article.image}} class='mx-auto">
      </div>
    {% endif %}
  </div>

  <hr>
  <h3>댓글
    <span class='text-black-50 fs-5'>{{comments|length}}</span>
  </h3>
  {% if request.user.is_authenticated %}
    <form action="{% url 'articles:detail' article.pk %}" method='POST' class='' enctype='multipart/form-data'>
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      {% bootstrap_button '댓글작성'%}
    </form>
  {% endif %}
{% comment %} display comments in article.detail {% endcomment %}
  <div class="mt-2">
    {% for comment in comments %}
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column fw-bold">
          <a href="{% url 'accounts:detail' comment.user_id %}">
            {{ comment.user}}
          </a>
          <br>
          {{ comment.content }}
          {% if comment.image %}
            <br>
            <div class="">
              <img src="{{ comment.image.url }}" alt="{{comment.image}}">
            </div>
          {% endif %}
        </div>
        <div class="">
          <span class='text-black-50'>
            {{comment.created_at}}
          </span>
          <a href="{% url 'articles:comment_delete' article.pk comment.pk %}" class='text-danger'>삭제</a>
        </div>
      </div>
      <hr>
      {% empty %}
      <h6>
        댓글이 없습니다.
      </h6>
    {% endfor %}
  </div>

{% endblock content %}