{% extends 'base.html' %}
{% block content %}
  <h1>
    title :
    {{ article.title }}</h1>
  <hr>
  <h2>
    content :
    {{ article.content}}</h2>

  <hr>
  <h3>댓글</h3>
  <form action="{% url 'articles:detail' article.pk %}" method='POST' class='form-control'>
    {% csrf_token %}
    {{ comment_form.as_p}}
    <input type="submit" value='댓글작성'>
  </form>
  {% for comment in comments %}
    {{ comment.content }}
    <br>
    <hr>
    {% empty %}
    <h6>
      댓글이 없습니다.
    </h6>
  {% endfor %}

{% endblock content %}