{% extends 'base.html' %}

{% block content %}
  <h1>
    글 쓰기
  </h1>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}

    <!-- # 미리 작성해 놓은 form 불러오세요 -->
    {{article_form.as_p}}

    <!-- 아래는 forms.py 없을 때 -->
    <!-- <label for="title">제목 : </label> <input type="text" name="title" id="title" required> <label for="content">내용 : </label> <textarea name="content" id="content" cols="30" rows="10" required></textarea> -->

    <input type="submit" value="글 쓰기">
    <button>
      <a href="{% url 'articles:index' %}">
        홈
      </a>
    </button>
  </form>
{% endblock %}